html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
.navbar {
  margin-bottom: 20px;
  border: 0px;
}
.nav{
  display: inline-block;
}
.text-muted {
  color: #fff;
  margin: 20px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}
li {
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default {
    background-color: #4ad5ff;
        border-color: none;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.2);
          box-shadow: 0 3px 4px 0px rgba(0,0,0,0.2);
}
.navbar-default:hover {
        border-color: none;
  -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.2);
          box-shadow: 0 6px 8px 0px rgba(0,0,0,0.2);
          transition: 0.3s;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 18px;
}
.navbar-brand,.navbar-brand:hover{
    font-size: 24px;
    color: #000;
}
.panel {
             padding: 20px;
    background-color: #4ad5ff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.2);
          box-shadow: 0 3px 4px 0px rgba(0,0,0,0.2);
          transition: 0.3s;
}
.panel:hover {
    background-color: #4ad5ff;
  -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.2);
          box-shadow: 0 6px 8px 0px rgba(0,0,0,0.2);
          transition: 0.3s;
}
.panel .h1, .panel h1 {
  font-size: 40px;
}
.btn-group-lg>.btn, .btn-lg {
  border-radius: 0px;
}
.btn-default {
  color: #fff;
  background-color: #000;
  border-color: rgba(0,0,0,0);
}
.btn-default:hover {
  color: #fff;
  background-color: black;
  border-color: rgba(0,0,0,0);
  -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.2);
  box-shadow: 0 6px 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.link ul li a > i {
  color: #000;
}
.panel-success {
    border-color: none;
}
.panel-group .panel {
    margin-bottom: 20px;
}
.panel-success {
    border-color: rgba(0,0,0,0);
}
.panel-body > h2 {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
.panel-success>.panel-heading {
    border-color: rgba(0,0,0,0);
}
.map-padding-zero{
    padding:0px;
}
.btn-index{
    margin-top: 50px;
    padding: 10px;
}
.head-page{
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
blockquote {
    border-left: 5px solid #000;
}
.form-control{
    border-radius: 0px;
    color: #000;
}
.leaflet-container {
    height: 100%;
    width: 100%;
    display: block;
}
.panel-contact-chart {
    height: 400px;
}